@page
@model PrivacyModel
@{
    ViewData["Title"] = "Arena";
}

<div class="container-fluid">
    <br />
    <div class="text-center">
        <h1 class="display-4">Arena</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6 col-md-4 axie-div">
            <div class="card axie-frontline">
                <div class="card-header">
                    <h3>Tank</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Mouth</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Horn</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Back</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Tail</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 axie-div">
            <div class="card axie-midline">
                <div class="card-header">
                    <h3>Mid</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Mouth</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Horn</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Back</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="axie-card">
                                <h5>Tail</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 axie-div">
            <div class="card axie-backline">
                <div class="card-header">
                    <h3>Back</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="axie-card">
                                    <h5>Mouth</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="axie-card">
                                    <h5>Horn</h5>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <div class="axie-card">
                                    <h5>Back</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="axie-card">
                                    <h5>Tail</h5>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
